.single__container {
  display: flex;
  align-items: center;
  width: 100%;
  min-height: 100vh;
  gap: 42px;
  padding: 0 250px;
}

@media (max-width: 600px) {
  .single__container {
    padding: 0 50px;
    flex-direction: column;
  }
}

.left__section {
  flex-basis: 60%;
  height: 620px;
  background-color: #fff;
  padding: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.left__img {
  min-width: 100%;
  height: 50%;
  object-fit: cover;
}

.right__section {
  flex-basis: 40%;
}

.title {
  margin: 15px 0;
  font-size: 30px;
}

.para {
  margin: 10px 0;
}

.price {
  font-size: 25px;
}
